.mainMenu{
    display: flex;
    flex-wrap: nowrap;
}
.mainMenuItem{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;

}
.header{
    margin-left: auto;
    margin-right: auto;
    width: 1922.65px;
    border: 2px solid darkblue;
    height: 66.65px;
}
.topSegment{
    display: flex;
    flex-wrap: nowrap;
}

.leftInfoBlog{
    width: 985.7px;
    border: 2px solid darkblue;
    height: 1088.01px;
    top: 48.63px;
    left: -6px;
}

.bottomText{
    margin-top: 90%;
    margin-left: 75%;
}

.rightInfoBlog{
    top: 48.63px;
    width: 985.7px;
    border: 2px solid darkblue;
    left: 985.7px;
    height: 1088.01px;
}

.middleSegment{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid darkblue;
    width: 1646.18px;
    height: 1248.73px;
    top: 966px;
}

.middle{
    margin: auto;
    border: 2px solid darkblue;
    width: 1132px;
    height: 681px;
}